#-----------------------------------------------------------------------------------------------------------------------
# kylerossbeasley main .htaccess file.
#
# Assumes the site lives at /var/www/kylerossbeasley during the dev work and lives in side the PUBLIC_HTML folder on
# Hostinger's shared hosting servers.
#-----------------------------------------------------------------------------------------------------------------------

# Pretty URLs
RewriteEngine On

# If request matchest an actual PHP file, serve it
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

########################################################################################################################
# SECURITY AND ACCESS CONTROL

# Disallow indexing of directories
Options -Indexes

# Disallow access to .env
<Files .env>
    Order deny,allow
    Deny from all
</Files>

# Disallow direct access to the twig files
<Files *.twig>
    Order allow,deny
    Deny from all
</Files>

# Disallow direct access to the .git files
<Files .gitignore>
    Order allow,deny
    Deny from all
</Files>

# Disallow direct access to the composer files
<Files composer.*>
    Order allow,deny
    Deny from all
</Files>

# 404 all requests made to the these directories
RedirectMatch 404 ^/(node_modules|\.git|config|templates|vendor)

########################################################################################################################
# CUSTOM ERROR PAGES

# 404 Page
ErrorDocument 404 /404.php

# 403 Page
ErrorDocument 403 /403.php
