{% extends "layouts/error.html.twig" %}

{% block title %}404 Page Not Found{% endblock %}

{% block main %}
    <div class="text-container bg-glass">
        <p class="title">Page Not Found</p>
        <p class="text">We don't seem to have that page. Check your URL for typos and try again.</p>

        <a href="/" class="bg-glass frosted button">Go Back Home</a>
    </div>

    <div class="lava-lamp">
        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color: rgb(77,203,232)"></stop>
                        <stop offset="100%" style="stop-color: rgb(58,16,100)"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#gradient1)" transform="translate(100 100)">
                    <animate attributeName="d" dur="200s" repeatCount="indefinite"
                             values="M61.5,-48.6C76.6,-30,83.8,-4.6,77.9,16.3C71.9,37.2,52.8,53.6,32.4,61.1C11.9,68.7,-9.9,67.3,-26.5,58.2C-43,49,-54.1,31.9,-60.9,11.3C-67.6,-9.2,-69.9,-33.4,-59,-51C-48.1,-68.6,-24.1,-79.7,-0.5,-79.4C23.1,-79,46.3,-67.2,61.5,-48.6Z;
                             M52.6,-42.9C66,-25.3,73,-3.5,69.5,17.6C66.1,38.7,52.2,59.1,32.6,69.1C12.9,79.1,-12.4,78.8,-34.3,69.1C-56.2,59.4,-74.7,40.3,-76.9,20.5C-79.1,0.6,-65,-20,-49.4,-38.1C-33.9,-56.2,-17,-71.8,1.3,-72.8C19.6,-73.9,39.3,-60.5,52.6,-42.9Z;
                             M45.2,-35.6C57.2,-20.9,64.6,-2.2,61.7,15.5C58.8,33.3,45.5,50.1,28.8,57.1C12.1,64.1,-8,61.3,-29.6,53.9C-51.1,46.4,-74,34.2,-81.5,14.7C-89.1,-4.8,-81.3,-31.7,-65.1,-47.2C-49,-62.8,-24.5,-67,-4,-63.9C16.6,-60.7,33.1,-50.2,45.2,-35.6Z;
                             M61.5,-48.6C76.6,-30,83.8,-4.6,77.9,16.3C71.9,37.2,52.8,53.6,32.4,61.1C11.9,68.7,-9.9,67.3,-26.5,58.2C-43,49,-54.1,31.9,-60.9,11.3C-67.6,-9.2,-69.9,-33.4,-59,-51C-48.1,-68.6,-24.1,-79.7,-0.5,-79.4C23.1,-79,46.3,-67.2,61.5,-48.6Z;
                             ">
                    </animate>
                </path>
            </svg>
        </div>

        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color: rgb(43,144,224)"></stop>
                        <stop offset="100%" style="stop-color: rgb(72,18,124)"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#gradient2)" transform="translate(100 100)">
                    <animate attributeName="d" dur="200s" repeatCount="indefinite"
                             values="M61.5,-48.6C76.6,-30,83.8,-4.6,77.9,16.3C71.9,37.2,52.8,53.6,32.4,61.1C11.9,68.7,-9.9,67.3,-26.5,58.2C-43,49,-54.1,31.9,-60.9,11.3C-67.6,-9.2,-69.9,-33.4,-59,-51C-48.1,-68.6,-24.1,-79.7,-0.5,-79.4C23.1,-79,46.3,-67.2,61.5,-48.6Z;
                             M52.6,-42.9C66,-25.3,73,-3.5,69.5,17.6C66.1,38.7,52.2,59.1,32.6,69.1C12.9,79.1,-12.4,78.8,-34.3,69.1C-56.2,59.4,-74.7,40.3,-76.9,20.5C-79.1,0.6,-65,-20,-49.4,-38.1C-33.9,-56.2,-17,-71.8,1.3,-72.8C19.6,-73.9,39.3,-60.5,52.6,-42.9Z;
                             M45.2,-35.6C57.2,-20.9,64.6,-2.2,61.7,15.5C58.8,33.3,45.5,50.1,28.8,57.1C12.1,64.1,-8,61.3,-29.6,53.9C-51.1,46.4,-74,34.2,-81.5,14.7C-89.1,-4.8,-81.3,-31.7,-65.1,-47.2C-49,-62.8,-24.5,-67,-4,-63.9C16.6,-60.7,33.1,-50.2,45.2,-35.6Z;
                             M61.5,-48.6C76.6,-30,83.8,-4.6,77.9,16.3C71.9,37.2,52.8,53.6,32.4,61.1C11.9,68.7,-9.9,67.3,-26.5,58.2C-43,49,-54.1,31.9,-60.9,11.3C-67.6,-9.2,-69.9,-33.4,-59,-51C-48.1,-68.6,-24.1,-79.7,-0.5,-79.4C23.1,-79,46.3,-67.2,61.5,-48.6Z;
                             ">
                    </animate>
                </path>
            </svg>
        </div>

        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color: rgb(37,115,166)"></stop>
                        <stop offset="100%" style="stop-color: rgb(70,22,89)"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#gradient1)" transform="translate(100 100)">
                    <animate attributeName="d" dur="200s" repeatCount="indefinite"
                             values="M57.1,-67.1C72.4,-55.1,82.2,-35.7,82.8,-16.9C83.4,1.9,74.8,20.1,64.2,35.8C53.6,51.4,41,64.6,25.9,69.3C10.9,73.9,-6.6,69.9,-25.5,65.2C-44.5,60.4,-65,54.9,-72.1,42C-79.2,29,-72.7,8.7,-66.5,-9.1C-60.2,-26.9,-54.1,-42,-43.1,-54.7C-32,-67.4,-16,-77.6,2.4,-80.5C20.9,-83.4,41.7,-79,57.1,-67.1Z;
                             M51.3,-63.6C64,-50.5,70.2,-32,69.7,-15.2C69.3,1.6,62.2,16.7,54.9,33.8C47.5,50.8,39.9,69.7,27,74.7C14,79.7,-4.3,70.8,-21,62.6C-37.7,54.3,-52.9,46.8,-63.2,34C-73.5,21.3,-78.8,3.2,-74.7,-11.9C-70.6,-27.1,-56.9,-39.3,-42.9,-52.3C-28.8,-65.2,-14.4,-78.8,2.4,-81.7C19.3,-84.6,38.6,-76.8,51.3,-63.6Z;
                             M42.7,-49.1C57.6,-38.4,73.6,-27.1,80.5,-10.8C87.5,5.5,85.5,26.9,75.1,41.9C64.7,56.9,45.9,65.7,27.8,69.2C9.6,72.8,-7.8,71.1,-22.5,64.6C-37.2,58.1,-49.1,46.7,-59,32.6C-68.8,18.5,-76.6,1.8,-75.6,-15C-74.7,-31.8,-64.9,-48.8,-50.8,-59.6C-36.8,-70.4,-18.4,-75.2,-2.2,-72.5C13.9,-69.8,27.8,-59.8,42.7,-49.1Z;
                             M57.1,-67.1C72.4,-55.1,82.2,-35.7,82.8,-16.9C83.4,1.9,74.8,20.1,64.2,35.8C53.6,51.4,41,64.6,25.9,69.3C10.9,73.9,-6.6,69.9,-25.5,65.2C-44.5,60.4,-65,54.9,-72.1,42C-79.2,29,-72.7,8.7,-66.5,-9.1C-60.2,-26.9,-54.1,-42,-43.1,-54.7C-32,-67.4,-16,-77.6,2.4,-80.5C20.9,-83.4,41.7,-79,57.1,-67.1Z;
                             ">
                    </animate>
                </path>
            </svg>
        </div>
    </div>
{% endblock %}