@import "tailwindcss";

@theme {
    --color-background: hsl(0, 7%, 6%);
    --color-text: hsl(30, 42%, 95%);
    --color-primary: hsl(46, 78%, 66%);
    --color-secondary: hsl(26, 82%, 64%);
    --color-accent: hsl(224, 32%, 34%);
}

.bg-glass {
    border-radius: .65rem;
    box-shadow: 0 5px 2rem hsl(219, 71%, 12%),
                inset 0 0 16px hsla(0,0%,95%,80%);
    border: 1px solid hsla(0, 0%, 100%, 80%);
    transition: all 150ms ease-in-out;
    will-change: auto;
}
.bg-glass.frosted {
    /* Thanks @tim.baker on StackOverflow at https://stackoverflow.com/questions/4011113/can-you-add-noise-to-a-css-gradient */
    background-image: url("/public/images/noise.svg");
}
.bg-glass:hover, .bg-glass:active {
    box-shadow: 0 5px 2rem hsl(219, 80%, 18%),
    inset 0 0 20px hsla(0,0%,95%,80%);
}

.glow-container {

}
.glow {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}