@import 'tailwindcss';

/** Customize the theme here */
/** @theme {} */

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

#pfp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#002f9a, #002f9a), linear-gradient(#002f9a, #002f9a), linear-gradient(#fbb300, #fbb300), linear-gradient(#fbb300, #fbb300);
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    box-shadow: #002f9a -5px -5px 10px, #002f9a 5px -5px 10px, #fbb300 5px 5px 10px, #fbb300 -5px 5px 10px;

    -webkit-animation: rotate infinite linear 5000ms;
    -o-animation: rotate infinite linear 5000ms;
    animation: rotate infinite linear 5000ms;
}

#pfp-container img {
    -webkit-animation: rotate reverse infinite linear 5000ms;
    -o-animation: rotate reverse infinite linear 5000ms;
    animation: rotate reverse infinite linear 5000ms;
}
